body {
  font-family: Georgia;
  background-color: aqua;
}

h1 {
  font-family: Comic sans ms;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h3 span a {
  color: white;
  text-decoration: underline;
}

h3 span a:hover {
  color: red;
}

#center {
  text-align: center;
  color: orange;
}

p span:hover {
  text-decoration: none;
  background-color: blue;
  color: white;
}

p {
  text-align: right;
}

h4 {
  text-align: right;
  font-style: italic;
}
